@font-face {
  font-family: 'Open Sans'; /* Имя, которое вы будете использовать в CSS */
  src: url('fonts/TTNormsPro-Thin.woff2') format('woff2'), /* Поддержка современных браузеров */
       url('fonts/TTNormsPro-Thin.woff') format('woff'), /* Поддержка современных браузеров */
       url('fonts/TTNormsPro-Thin.ttf') format('truetype'); /* Поддержка современных браузеров */
  font-weight: 100; /* Или 400 */
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans'; /* Имя, которое вы будете использовать в CSS */
  src: url('fonts/TTNormsPro-Light.woff2') format('woff2'), /* Поддержка современных браузеров */
       url('fonts/TTNormsPro-Light.woff') format('woff'), /* Поддержка современных браузеров */
       url('fonts/TTNormsPro-Light.ttf') format('truetype'); /* Поддержка современных браузеров */
  font-weight: 300; /* Или 400 */
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans'; /* Имя, которое вы будете использовать в CSS */
  src: url('fonts/TTNormsPro-Regular.woff2') format('woff2'), /* Поддержка современных браузеров */
       url('fonts/TTNormsPro-Regular.woff') format('woff'), /* Поддержка современных браузеров */
       url('fonts/TTNormsPro-Regular.ttf') format('truetype'); /* Поддержка современных браузеров */
  font-weight: 400; /* Или 400 */
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans'; /* Имя, которое вы будете использовать в CSS */
  src: url('fonts/TTNormsPro-Medium.woff2') format('woff2'), /* Поддержка современных браузеров */
       url('fonts/TTNormsPro-Medium.woff') format('woff'), /* Поддержка современных браузеров */
       url('fonts/TTNormsPro-Medium.ttf') format('truetype'); /* Поддержка современных браузеров */
  font-weight: 600; /* Или 400 */
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a:focus {
  outline: none;
  border: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Open Sans';
}

.container {
  margin: 0 auto;
  width: 1200px;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  padding: 20px;
  background-color: white;
  z-index: 1;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, .2);
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 200px;
}

.logo p:first-child {
  font-size: 25px;
  font-weight: 600;
}

.logo p:last-child {
  font-size: 15px;
  font-weight: 400;
}

.rounds {
  position: absolute;
  left: 50%;
  bottom: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.round {
  border: 1px solid white;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  margin: 0 5px;
}

.round-active {
  background-color: white;
}

.menu-list {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu-list__item {
  width: 13%;
  text-align: center;
  height: 40px;
}

.menu-list__link {
  display: block;
  margin-right: 10px;
  font-size: 13px;
  font-weight: 400;
  font-family: 'Open Sans';
  text-decoration: none;
  color: black;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, .2);
  border-radius: 4px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s;
}

.menu-list__item-red {
  background-color: #bd4932;
  color: white;
  border-radius: 4px;
}

.menu-list__link {
  color: inherit;
}

.menu-list__link:hover {
  background-color: #bd4932;
  color: white;
}

.main {
  margin-top: 90px;
}

.main-fon {
  height: 90vh;
  position: relative;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, .4);
  border-radius: 4px;
  overflow: hidden;
}

.main-fon-list {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.main-fon-item {
  position: relative;
  min-width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.arrows {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-40px);
  width: 100%;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
}

.arrow-left,
.arrow-right {
  padding: 10px 40px;
  /* border: 1px solid; */
  box-shadow: 0 0 5px 0 rgba(255, 255, 255, 0.5);
}

.arrow-left:hover,
.arrow-right:hover {
  cursor: pointer;
  background-color: #bd4932;
  color: white;
}

.main-fon__img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  filter: brightness(0.5);
  z-index: -1;
  object-fit: cover;
}

.main-fon__title {
  font-size: 100px;
  color: white;
  margin-bottom: 15px;
  font-weight: 100;
}

.main-fon__text {
  color: white;
  font-size: 20px;
  font-weight: 300;
}

.food-list-block {
  display: flex;
  align-self: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.food-block-title {
  margin-bottom: 30px;
  font-size: 24px;
  font-weight: 600;
  width: fit-content;
  background-color: #bd4932;
  color: white;
  padding: 5px 20px;
  border-radius: 4px;
}

.food-list-block__item {
  width: 48%;
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, .2);
  margin-bottom: 50px;
  height: 350px;
  position: relative;
}

.food-list__item {
  margin-top: 40px;
}

.food-content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.food-img {
  width: 40%;
  height: 100%;
  object-fit: cover;
  transition: 0.2s;
}

/* .food-list-block__item:hover */
.food-content {
  color: white;
}

/* .food-list-block__item:hover  */
.food-img {
  width: 100%;
  position: absolute;
  filter: brightness(0.8);
  z-index: -1;
}

.food-position-name {
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 15px;
}

.food-price {
  font-size: 18px;
  font-weight: 600;
}

@media (max-width: 1240px) {
  .container {
    width: 800px;
  }

  .food-list-block__item {
    height: 250px;
  }

  /* .main-fon {
    height: 400px;
  } */
}

@media (max-width: 840px) {
  .container {
    width: 500px;
  }

  .menu-list {
    /* flex-wrap: wrap; */
    justify-content: flex-start;
    overflow-x: auto;
  }

  .logo {
    width: 100px;
  }

  .main-fon__text {
    font-size: 16px;
    width: 300px;
    text-align: center;
  }

  .menu-list {
    width: 100%;
    margin-left: 50px;
  }

 .menu-list::-webkit-scrollbar {
    display: none; /* Или height: 0; */
}

  .menu-list__item {
    min-width: 35%;
    margin: 5px;
  }

  .food-list {
    margin-top: 80px;
  }

  /* .main-fon {
    height: 300px;
  } */

  .main-fon__title {
    font-size: 40px;
  }

  .food-list-block__item {
    width: 100%;
    margin-bottom: 20px;
  }
}

@media (max-width: 540px) {
  .container {
    width: 350px;
  }

  .header {
    padding: 20px 0;
  }

  .logo p:first-child {
    font-size: 20px;
  }

  .logo p:last-child {
    font-size: 13px;
  }

  .header .container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
  }

  .arrow-left, .arrow-right {
    padding: 10px;
    font-size: 14px;
  }

  .menu-list {
    margin-left: 0;
    padding: 2px;
  }

  .menu-list__item {
    margin: 5px 10px 0px 0px;
    height: 35px;
  }

  .main-fon {
    height: 250px;
  }

  .main-fon__title {
    font-size: 40px;
  }

  .food-list-block__item {
    flex-direction: column-reverse;
  }

  .food-img {
    /* height: 70%; */
    width: 100%;
  }

  .food-list-block__item {
    height: 300px;
  }

  .food-content {
    height: 30%;
    /* padding: 60px 30px 30px 30px; */
  }

  .food-position-name {
    font-weight: 600;
  }

  .food-price {
    font-size: 15px;
    font-weight: 300;
  }
}