@font-face {
  font-family: 'Open Sans'; /* Имя, которое вы будете использовать в CSS */
  src: url('fonts/TTNormsPro-Thin.woff2') format('woff2'), /* Поддержка современных браузеров */
       url('fonts/TTNormsPro-Thin.woff') format('woff'), /* Поддержка современных браузеров */
       url('fonts/TTNormsPro-Thin.ttf') format('truetype'); /* Поддержка современных браузеров */
  font-weight: 100; /* Или 400 */
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans'; /* Имя, которое вы будете использовать в CSS */
  src: url('fonts/TTNormsPro-Light.woff2') format('woff2'), /* Поддержка современных браузеров */
       url('fonts/TTNormsPro-Light.woff') format('woff'), /* Поддержка современных браузеров */
       url('fonts/TTNormsPro-Light.ttf') format('truetype'); /* Поддержка современных браузеров */
  font-weight: 300; /* Или 400 */
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans'; /* Имя, которое вы будете использовать в CSS */
  src: url('fonts/TTNormsPro-Regular.woff2') format('woff2'), /* Поддержка современных браузеров */
       url('fonts/TTNormsPro-Regular.woff') format('woff'), /* Поддержка современных браузеров */
       url('fonts/TTNormsPro-Regular.ttf') format('truetype'); /* Поддержка современных браузеров */
  font-weight: 400; /* Или 400 */
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans'; /* Имя, которое вы будете использовать в CSS */
  src: url('fonts/TTNormsPro-Medium.woff2') format('woff2'), /* Поддержка современных браузеров */
       url('fonts/TTNormsPro-Medium.woff') format('woff'), /* Поддержка современных браузеров */
       url('fonts/TTNormsPro-Medium.ttf') format('truetype'); /* Поддержка современных браузеров */
  font-weight: 600; /* Или 400 */
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans'; /* Имя, которое вы будете использовать в CSS */
  src: url('fonts/TTNormsPro-ExtraBold.woff2') format('woff2'), /* Поддержка современных браузеров */
       url('fonts/TTNormsPro-ExtraBold.woff') format('woff'), /* Поддержка современных браузеров */
       url('fonts/TTNormsPro-ExtraBold.ttf') format('truetype'); /* Поддержка современных браузеров */
  font-weight: 700; /* Или 400 */
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a:focus {
  outline: none;
  border: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Open Sans';
}

.body-no-scroll {
  overflow: hidden;
}

.container {
  margin: 0 auto;
  width: 1200px;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  padding: 20px;
  background-color: white;
  z-index: 1;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, .2);
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.logo {
  font-weight: 600;
  font-size: 20px;
  padding: 10px 15px;
  background-color: #bd4932;
  color: white;
  border-radius: 5px;
  display: flex;
  align-items: center;
  letter-spacing: 1px;
}

.menu-button {
  border: none;
  outline: none;
  box-shadow: 0px 0px 4px 0px #00000017;
  background-color: #bd4932;
  color: white;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  position: absolute;
  right: 0;
  bottom: -55px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.menu-button:hover {
  background-color: #bd49326c;
}

.logo img {
  width: 30px;
  margin-left: 10px;
}

.logo-box {
  display: flex;
  align-items: center;
}

.dostavka {
  margin-left: 15px;
  text-align: right;
}

.rounds {
  position: absolute;
  left: 50%;
  bottom: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.round {
  border: 1px solid white;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  margin: 0 5px;
}

.round-active {
  background-color: white;
}

.menu-list-box {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  background-color: white;
  width: 100%;
  height: 100%;
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.menu-list-box-open {
  display: flex;
}

.menu-list-close {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  position: absolute;
  right: 30px;
  top: 30px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  cursor: pointer;
}

.menu-list-close:hover {
  background-color: #bd4932;
}

.menu-list-close:hover .menu-list_one,
.menu-list-close:hover .menu-list_two {
  background-color: white;
}

.menu-list-close span {
  width: 80%;
  height: 1px;
  background-color: black;
  position: absolute;
  display: block;
}

.menu-list_one {
  transform: rotate(-45deg);
}

.menu-list_two {
  transform: rotate(45deg);
}

.menu-list-logo {
  margin-bottom: 80px;
  padding: 20px;
  box-shadow: 0px 0px 5px 0px #000000;
  background: #bd4932;
  color: white;
  border-radius: 5px;
}

.menu-list-lanch {
  font-size: 16px;
  margin-top: 20px;
}

.lach {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  margin: 0 auto;
  background-color: #bd4932;
  color: white;
  padding: 50px;
  border-radius: 5px;
  margin-bottom: 100px;
}

.lanch-title {
  font-size: 50px;
  font-weight: 600;
  margin-bottom: 5px;
}

.lanch-subtitle {
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 5px;
}

.lacnh-text {
  font-size: 16px;
  font-weight: 300;
}

.lacnh-price {
  font-size: 15px;
  font-weight: 300;
  margin-top: 30px;
  padding: 10px 20px;
  background: #bd4932;
  border-radius: 5px;
  font-weight: 600;
  box-shadow: 0px 0px 5px 0px #ffffff5c;
  /* cursor: pointer; */
}

/* .lacnh-price:hover {
  background: #00000047;
} */

.menu-list {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.menu-list__item {
  width: 20%;
  text-align: center;
  height: 40px;
  margin: 10px;
}

.menu-list__link {
  display: block;
  margin-right: 10px;
  font-size: 13px;
  font-weight: 400;
  font-family: 'Open Sans';
  text-decoration: none;
  color: black;
  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, .2);
  border-radius: 4px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
}

.menu-list__link {
  color: inherit;
}

.menu-list__link:hover {
  background-color: #bd4932;
  color: white;
}

.main {
  margin-top: 100px;
}

.arrows {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-40px);
  width: 100%;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
}

.arrow-left,
.arrow-right {
  padding: 10px 15px;
  border-radius: 4px;
  box-shadow: 0 0 5px 0 rgba(255, 255, 255, 0.5);
}

.arrow-left:hover,
.arrow-right:hover {
  cursor: pointer;
  background-color: #bd4932;
  color: white;
}

button {
  border: none;
  outline: none;
}

button:focus {
  border: none;
  outline: none;
}

.food-list-item-button {
  background-color: #bd4932ba;
  color: white;
  border-radius: 5px;
  width: 140px;
  height: 50px;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  font-family: 'Open Sans';
}

.food-list-item-button:hover {
  background-color: #bd49326c;
}

.food-content-buttons {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.food-item-sostav {
  font-weight: 400;
  margin-top: 10px;
  padding: 5px 10px;
  background-color: white;
  box-shadow: 0px 0px 5px 0px #00000066;
  border-radius: 3px;
  font-size: 14px;
  font-family: 'Open Sans';
  cursor: pointer;
}

.food-item-sostav:hover {
  background-color: #80808026;
}

.sostav {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #00000073;
  color: white;
  z-index: 2;
  display: none;
}

.sostav-open {
  display: flex;
}

.sostav-container {
  width: 800px;
  min-height: fit-content;
  height: 200px;
  overflow: hidden;
  box-shadow: 0 0 5px 0 rgb(255 255 255 / 20%);
  padding: 20px 140px;
  background-color: #000000a6;
  border-radius: 4px;
  position: relative;
}

.sostav-title {
  text-align: center;
  font-size: 35px;
  margin-bottom: 50px;
  font-weight: 600;
}

.sostav-description{
  font-size: 18px;
  font-weight: 300;
}

.sostav-close {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  position: absolute;
  right: 30px;
  top: 30px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  cursor: pointer;
}

.sostav-close:hover {
  box-shadow: 0 0 5px 0 rgba(255, 255, 255, 0.5);
}

.sostav-close span {
  width: 100%;
  height: 1px;
  background-color: white;
  position: absolute;
  display: block;
}

.sostav-close_one {
  transform: rotate(45deg);
}

.sostav-close_two {
  transform: rotate(-45deg);
}

.food-list-block {
  display: flex;
  align-self: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.food-block-title {
  margin-bottom: 30px;
  font-size: 24px;
  font-weight: 600;
  width: fit-content;
  background-color: #bd4932;
  color: white;
  padding: 5px 20px;
  border-radius: 4px;
}

.food-list-block__item {
  width: 31%;
  display: flex;
  flex-direction: column-reverse;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, .2);
  margin-bottom: 50px;
  height: 350px;
  position: relative;
  margin-right: 27px;
}

.food-content {
  padding: 20px;
  display: flex;
  justify-content: space-between;  
  align-items: center;
  width: 100%;
  height: 30%;
  color: black;
  height: fit-content;
}

.food-text {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 15px;
}

.food-img {
  width: 40%;
  object-fit: cover;
  transition: 0.2s;
  width: 100%;
  height: 100%;
}

/* .food-list-block__item:hover  */

.food-position-name {
  font-size: 18px;
  font-weight: 400;
  white-space: break-spaces;
}

.food-position-name-desc {
  font-weight: 300;
  font-size: 14px;
}

.food-price {
  font-size: 15px;
  font-weight: 600;
  margin-top: 15px;
}

.zakaz {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #00000073;
  color: white;
  z-index: 2;
  display: none;
}

.zakaz-open {
  display: flex;
}

.zakaz-container {
  min-width: 800px;
  min-height: fit-content;
  max-height: 80vh;
  /* overflow-y: scroll; */
  overflow: hidden;
  box-shadow: 0 0 5px 0 rgb(255 255 255 / 20%);
  padding: 20px 140px;
  background-color: #000000a6;
  border-radius: 4px;
  position: relative;
}

.zakaz-list::-webkit-scrollbar { width: 0; }

/* ie 10+ */
.zakaz-list { -ms-overflow-style: none; }

/* фф (свойство больше не работает, других способов тоже нет)*/
.zakaz-list { overflow: -moz-scrollbars-none; }

.zakaz-title {
  text-align: center;
  font-size: 50px;
  font-weight: 300;
  margin-bottom: 50px;
}

.zakaz-list {
  height: 200px;
  overflow-y: scroll;
}

.zakaz-list__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.zakaz-name {
  font-size: 20px;
  font-weight: 400;
  display: flex;
  align-items: center;
}

.zakaz-delete {
  background-color: transparent;
  color: white;
  font-size: 20px;
  margin-right: 10px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.zakaz-delete:hover {
  box-shadow: 0 0 5px 0 rgb(255 255 255 / 50%);
}

.zakaz-price {
  font-size: 15px;
  font-weight: 300;
}

.zakaz-sum {
  margin-top: 50px;
  text-align: center;
  font-size: 22px;
  font-weight: 300;
}

.zakaz-sum__name {
  margin-right: 10px;
}

.zakaz-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 40px;
  margin: 0 auto;
  margin-top: 20px;
  background-color: #bd4932;
  color: white;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 400;
  font-family: 'Open Sans';
  transition: 0.3s;
  cursor: pointer;
}

.zakaz-button:hover {
  background-color: white;
  color: #bd4932;
}

.corzina {
  position: fixed;
  left: 50%;
  bottom: 5%;
  width: 200px;
  height: 40px;
  display: none;
  align-items: center;
  justify-content: center;
  background-color: #000000ba;
  color: white;
  border-radius: 4px;
  transform: translateX(-100px);
  z-index: 1;
  font-size: 16px;
  cursor: pointer;
}

.corzina-open {
  display: flex;
}

.corzina:hover {
  background-color: white;
  color: #bd4932;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
}

.corzina-img {
  height: 20px;
  margin-right: 10px;
  fill: white;
}

.corzina:hover .corzina-img {
  fill: #bd4932;
}

.zakaz-close {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  position: absolute;
  right: 30px;
  top: 30px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  cursor: pointer;
}

.zakaz-close:hover {
  box-shadow: 0 0 5px 0 rgba(255, 255, 255, 0.5);
}

.zakaz-close span {
  width: 100%;
  height: 1px;
  background-color: white;
  position: absolute;
  display: block;
}

.zakaz-close_one {
  transform: rotate(45deg);
}

.zakaz-close_two {
  transform: rotate(-45deg);
}

.zakaz-container_oplata {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  font-size: 30px;
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #bd4932;
  border-radius: 4px;
}

.zakaz-container_oplata-title {
  font-size: 35px;
  font-weight: 600;
}

.zakaz-container_oplata-desc {
  font-size: 16px;
  margin-top: 10px;
  font-weight: 300;
}

.zakaz-container_oplata-open {
  display: flex;
}

.zakaz-container_oplata-img {
  margin-top: 40px;
  width: 120px;
  border-radius: 20px;
  animation: cat 1s linear infinite;
}

@keyframes cat {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(-15deg);
  }

  50% {
    transform: rotate(0deg);
  }

  75% {
    transform: rotate(15deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.map {
  border: none;
  outline: none;
  border-radius: 5px;
  width: 450px;
  height: 250px;
  margin-top: 20px;
}

.dostavka-title {
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 5px;
}

.dostavka-tel {
  color: #bd4932;
  display: block;
  text-decoration: none;
  border-bottom: 1px solid;
  width: fit-content;
  transition: 0.3s;
}

.dostavka-tel:hover {
  border-color: transparent;
  transform: scale(1.05);
}

.footer {
  text-align: center;
  padding: 10px;
  box-shadow: 0px 0px 5px 0px #00000036;
  font-size: 16px;
}

@media (max-width: 1240px) {
  .container {
    width: 800px;
  }

  .food-list-block {
    justify-content: space-between;
  }

  .food-list-block__item {
    height: 320px;
    width: 47%;
    margin-right: 0;
  }

  .zakaz-container {  
    max-width: 90%;
    min-width: 90%;
    padding: 50px;
  }
}

@media (max-width: 840px) {
  .container {
    width: 500px;
  }

  .lach {
    width: 100%;
  }

  .header {
    padding: 10px;
  }

  .menu-button {
    bottom: -45px;
  }

  .food-list-block__item {
    height: 400px;
  }

  div.logo {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
  }

  img.logo {
    width: 150px;
    height: fit-content;
  }

  .menu-list {
    width: 100%;
    margin-left: 0;
    margin-top: 10px;
  }

 .menu-list::-webkit-scrollbar {
    display: none; /* Или height: 0; */
}

  .menu-list__item {
    min-width: 20%;
    margin: 10px;
  }

  .food-list {
    margin-top: 80px;
  }

  .food-list-block__item {
    width: 100%;
    margin-bottom: 20px;
  }

  .map {
    width: 300px;
    height: 200px;
  }

  .dostavka-title {
    text-align: right;
  }

  .sostav-container {
    width: 90%;
    padding: 30px 40px;
  }
}

@media (max-width: 540px) {
  .container {
    width: 90%;
  }

  .lanch-title {
    font-size: 33px;
  }

  .lanch-subtitle {
    text-align: center;
    font-size: 15px;
  }

  .zakaz-list {
    max-height: 120px;
    overflow-y: scroll;
  }

  .zakaz-sum {
    margin-top: 30px;
  }

  .arrows {
    top: 115px;
  }

  .logo {
    font-size: 14px;
  }

  .menu-button {
    
  }

  .logo p:last-child {
    font-size: 13px;
  }

  /* .header .container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
  } */

  .arrow-left, .arrow-right {
    padding: 10px;
    font-size: 14px;
    background-color: #ffffff47;
  }

  .menu-list {
    margin-left: 0;
    padding: 2px;
  }

  .menu-list__item {
    margin: 10px;
    width: 40%;
  }

  .food-list-block__item {
    flex-direction: column-reverse;
  }

  .food-img {
    /* height: 70%; */
    width: 100%;
  }

  .food-list-block__item {
    height: 300px;
  }

  .food-content {
    height: 40%;
    min-height: fit-content;
    /* padding: 60px 30px 30px 30px; */
  }

  .food-text {
    width: 60%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .food-position-name {
    font-weight: 400;
    font-size: 17px;
    width: 100%;
  }

  .food-price {
    font-size: 15px;
    font-weight: 300;
  }

  .zakaz-title {
    font-size: 35px;
    margin-bottom: 30px;
  }

  .zakaz-container {
    padding: 50px 20px;
  }
}