@font-face {
  font-family: 'Open Sans'; /* Имя, которое вы будете использовать в CSS */
  src: url('fonts/TTNormsPro-Thin.woff2') format('woff2'), /* Поддержка современных браузеров */
       url('fonts/TTNormsPro-Thin.woff') format('woff'), /* Поддержка современных браузеров */
       url('fonts/TTNormsPro-Thin.ttf') format('truetype'); /* Поддержка современных браузеров */
  font-weight: 100; /* Или 400 */
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans'; /* Имя, которое вы будете использовать в CSS */
  src: url('fonts/TTNormsPro-Light.woff2') format('woff2'), /* Поддержка современных браузеров */
       url('fonts/TTNormsPro-Light.woff') format('woff'), /* Поддержка современных браузеров */
       url('fonts/TTNormsPro-Light.ttf') format('truetype'); /* Поддержка современных браузеров */
  font-weight: 300; /* Или 400 */
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans'; /* Имя, которое вы будете использовать в CSS */
  src: url('fonts/TTNormsPro-Regular.woff2') format('woff2'), /* Поддержка современных браузеров */
       url('fonts/TTNormsPro-Regular.woff') format('woff'), /* Поддержка современных браузеров */
       url('fonts/TTNormsPro-Regular.ttf') format('truetype'); /* Поддержка современных браузеров */
  font-weight: 400; /* Или 400 */
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans'; /* Имя, которое вы будете использовать в CSS */
  src: url('fonts/TTNormsPro-Medium.woff2') format('woff2'), /* Поддержка современных браузеров */
       url('fonts/TTNormsPro-Medium.woff') format('woff'), /* Поддержка современных браузеров */
       url('fonts/TTNormsPro-Medium.ttf') format('truetype'); /* Поддержка современных браузеров */
  font-weight: 600; /* Или 400 */
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a:focus {
  outline: none;
  border: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Open Sans';
}

.container {
  margin: 0 auto;
  width: 1200px;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  padding: 20px;
  background-color: white;
  z-index: 1;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, .2);
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 200px;
}

.rounds {
  position: absolute;
  left: 50%;
  bottom: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.round {
  border: 1px solid white;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  margin: 0 5px;
}

.round-active {
  background-color: white;
}

.menu-list {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu-list__item {
  width: 13%;
  text-align: center;
  height: 40px;
}

.menu-list__link {
  display: block;
  margin-right: 10px;
  font-size: 13px;
  font-weight: 400;
  font-family: 'Open Sans';
  text-decoration: none;
  color: black;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, .2);
  border-radius: 4px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
}

.menu-list__item-red {
  background-color: #bd4932;
  color: white;
  border-radius: 4px;
}

.menu-list__link {
  color: inherit;
}

.menu-list__link:hover {
  background-color: #bd4932;
  color: white;
}

.main {
  margin-top: 130px;
}

.main-fon {
  height: 90vh;
  position: relative;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, .4);
  border-radius: 4px;
  overflow: hidden;
}

.main-fon-list {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.main-fon-item {
  position: relative;
  min-width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.arrows {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-40px);
  width: 100%;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
}

.arrow-left,
.arrow-right {
  padding: 10px 15px;
  border-radius: 4px;
  box-shadow: 0 0 5px 0 rgba(255, 255, 255, 0.5);
}

.arrow-left:hover,
.arrow-right:hover {
  cursor: pointer;
  background-color: #bd4932;
  color: white;
}

.main-fon__img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  filter: brightness(0.5);
  z-index: -1;
  object-fit: cover;
}

.main-fon__title {
  font-size: 100px;
  color: white;
  margin-bottom: 15px;
  font-weight: 100;
}

.main-fon__text {
  color: white;
  font-size: 20px;
  font-weight: 300;
}

button {
  border: none;
  outline: none;
}

button:focus {
  border: none;
  outline: none;
}

.food-list-item-button {
  background-color: #bd4932ba;
  color: white;
  border-radius: 5%;
  width: 100px;
  height: 40px;
  border: none;
  outline: none;
  position: absolute;
  right: 35px;
  bottom: 35px;
  cursor: pointer;
}

.food-list-item-button:hover {
  background-color: white;
  color: #bd4932;
}


.food-list-block {
  display: flex;
  align-self: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.food-block-title {
  margin-bottom: 30px;
  font-size: 24px;
  font-weight: 600;
  width: fit-content;
  background-color: #bd4932;
  color: white;
  padding: 5px 20px;
  border-radius: 4px;
}

.food-list-block__item {
  width: 48%;
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, .2);
  margin-bottom: 50px;
  height: 350px;
  position: relative;
}

.food-list__item {
  margin-top: 40px;
}

.food-content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.food-img {
  width: 40%;
  height: 100%;
  object-fit: cover;
  transition: 0.2s;
}

/* .food-list-block__item:hover */
.food-content {
  color: white;
}

/* .food-list-block__item:hover  */
.food-img {
  width: 100%;
  position: absolute;
  /* filter: brightness(0.8); */
  z-index: -1;
}

.food-position-name {
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 15px;
}

.food-price {
  font-size: 18px;
  font-weight: 600;
}

.zakaz {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #00000073;
  color: white;
  z-index: 2;
  display: none;
}

.zakaz-open {
  display: flex;
}

.zakaz-container {
  min-width: 800px;
  min-height: 400px;
  max-height: 80vh;
  overflow-y: scroll;
  box-shadow: 0 0 5px 0 rgb(255 255 255 / 20%);
  padding: 20px 140px;
  background-color: #000000a6;
  border-radius: 4px;
  position: relative;
}

.zakaz-container::-webkit-scrollbar { width: 0; }

/* ie 10+ */
.zakaz-container { -ms-overflow-style: none; }

/* фф (свойство больше не работает, других способов тоже нет)*/
.zakaz-container { overflow: -moz-scrollbars-none; }

.zakaz-title {
  text-align: center;
  font-size: 50px;
  font-weight: 300;
  margin-bottom: 50px;
}

.zakaz-list__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.zakaz-name {
  font-size: 20px;
  font-weight: 400;
  display: flex;
  align-items: center;
}

.zakaz-delete {
  background-color: transparent;
  color: white;
  font-size: 20px;
  margin-right: 10px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.zakaz-delete:hover {
  box-shadow: 0 0 5px 0 rgb(255 255 255 / 50%);
}

.zakaz-price {
  font-size: 15px;
  font-weight: 300;
}

.zakaz-sum {
  margin-top: 50px;
  text-align: center;
  font-size: 22px;
  font-weight: 300;
}

.zakaz-sum__name {
  margin-right: 10px;
}

.zakaz-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 40px;
  margin: 0 auto;
  margin-top: 20px;
  background-color: #bd4932;
  color: white;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 400;
  font-family: 'Open Sans';
  transition: 0.3s;
  cursor: pointer;
}

.zakaz-button:hover {
  background-color: white;
  color: #bd4932;
}

.corzina {
  position: fixed;
  left: 50%;
  bottom: 5%;
  width: 200px;
  height: 40px;
  display: none;
  align-items: center;
  justify-content: center;
  background-color: #bd4932ba;
  color: white;
  border-radius: 4px;
  transform: translateX(-100px);
  z-index: 1;
  font-size: 16px;
  cursor: pointer;
}

.corzina-open {
  display: flex;
}

.corzina:hover {
  background-color: white;
  color: #bd4932;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
}

.zakaz-close {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  position: absolute;
  right: 30px;
  top: 30px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  cursor: pointer;
}

.zakaz-close:hover {
  box-shadow: 0 0 5px 0 rgba(255, 255, 255, 0.5);
}

.zakaz-close span {
  width: 100%;
  height: 1px;
  background-color: white;
  position: absolute;
  display: block;
}

.zakaz-close_one {
  transform: rotate(45deg);
}

.zakaz-close_two {
  transform: rotate(-45deg);
}

.zakaz-container_oplata {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  font-size: 30px;
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #bd4932;
  border-radius: 4px;
}

.zakaz-container_oplata-title {
  font-size: 35px;
  font-weight: 600;
}

.zakaz-container_oplata-desc {
  font-size: 16px;
  margin-top: 10px;
  font-weight: 300;
}

.zakaz-container_oplata-open {
  display: flex;
}

.zakaz-container_oplata-img {
  margin-top: 40px;
  width: 120px;
  border-radius: 20px;
  animation: cat 1s linear infinite;
}

@keyframes cat {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(-25deg);
  }

  50% {
    transform: rotate(0deg);
  }

  75% {
    transform: rotate(25deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.map {
  border: none;
  outline: none;
  border-radius: 5px;
  width: 450px;
  height: 250px;
  margin-top: 20px;
}

.dostavka-title {
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 5px;
}

.dostavka-tel {
  color: #bd4932;
  display: block;
  text-decoration: none;
  border-bottom: 1px solid;
  width: fit-content;
  transition: 0.3s;
}

.dostavka-tel:hover {
  border-color: transparent;
  transform: scale(1.05);
}

.main-fon__text-tel {
  font-size: 15px;
  margin-top: 15px;
  background-color: #bd4932ba;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  border-radius: 5px;
  text-decoration: none;
  transition: 0.3s;
  font-weight: 300;
}

.main-fon__text-tel:hover {
  background-color: rgba(255, 255, 255, 0.712);
  color: black;
}

@media (max-width: 1240px) {
  .container {
    width: 800px;
  }

  .food-list-block__item {
    height: 250px;
  }

  .zakaz-container {  
    max-width: 90%;
    min-width: 90%;
    padding: 50px;
  }
}

@media (max-width: 840px) {
  .container {
    width: 500px;
  }

  .menu-list {
    /* flex-wrap: wrap; */
    justify-content: flex-start;
    overflow-x: auto;
  }

  div.logo {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
  }

  img.logo {
    width: 150px;
    height: fit-content;
  }

  .header .container {
    flex-direction: column;
  }

  .main-fon__text {
    font-size: 16px;
    width: 300px;
    text-align: center;
    margin-bottom: 5px;
  }

  .menu-list {
    width: 100%;
    margin-left: 0;
  }

 .menu-list::-webkit-scrollbar {
    display: none; /* Или height: 0; */
}

  .menu-list__item {
    min-width: 35%;
    margin: 5px;
  }

  .food-list {
    margin-top: 80px;
  }

  /* .main-fon {
    height: 300px;
  } */

  .main-fon__title {
    font-size: 40px;
  }

  .food-list-block__item {
    width: 100%;
    margin-bottom: 20px;
  }

  .map {
    width: 300px;
    height: 200px;
  }

  .dostavka-title {
    text-align: right;
  }

  .main-fon__text-tel {
    margin: 0 auto;
    margin-top: 15px;
  }
}

@media (max-width: 540px) {
  .container {
    width: 350px;
  }

  .arrows {
    top: 115px;
  }

  .header {
    padding: 20px 0;
  }

  .logo p:last-child {
    font-size: 13px;
  }

  .header .container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
  }

  .arrow-left, .arrow-right {
    padding: 10px;
    font-size: 14px;
    background-color: #ffffff47;
  }

  .menu-list {
    margin-left: 0;
    padding: 2px;
  }

  .menu-list__item {
    margin: 5px 10px 0px 0px;
    height: 35px;
  }

  .main-fon {
    height: 60vh;
  }

  .main-fon__title {
    font-size: 40px;
  }

  .food-list-block__item {
    flex-direction: column-reverse;
  }

  .food-img {
    /* height: 70%; */
    width: 100%;
  }

  .food-list-block__item {
    height: 300px;
  }

  .food-content {
    height: 30%;
    /* padding: 60px 30px 30px 30px; */
  }

  .food-position-name {
    font-weight: 600;
  }

  .food-price {
    font-size: 15px;
    font-weight: 300;
  }

  .zakaz-title {
    font-size: 35px;
  }

  .zakaz-container {
    padding: 50px 20px;
  }

  .food-position-name {
    width: 65%;
  }
}